main {
    .cards {
        .card {
            &.species-1 {
                background: #ffd079;
            }

            &.unknown {
                background: $white;

                h2 {
                    color: lighten($primary-color, 50%);
                }
            }

            &.species-2 {
                background: #FFD700;
            }

            &.species-3 {
                background: #644502;

                h2 span{
                    color: lighten($primary-color, 90%);
                }

                .info {
                    color: darken($white, 10%)
                }
            }

            &.species-4 {
                background: #4F9286;
            }

            &.species-5 {
                background: #40422C;

                h2 span {
                    color: lighten($primary-color, 50%);
                }

                .info {
                    color: darken($white, 10%)
                }
            }

            &.species-6 {
                background: #83A888;
            }

            &.species-7 {
                background: #E5C86A;
            }

            &.species-8 {
                background: #BC6B4D;
            }

            &.species-9 {
                background: #B55101;
            }

            &.species-10 {
                background: #AF3519;
            }

            &.species-11 {
                background: #4D443C;

                h2 span {
                    color: lighten($primary-color, 50%);
                }

                .info {
                    color: darken($white, 10%)
                }
            }

            &.species-12 {
                background: #B0785F;
            }

            &.species-13 {
                background: #618589;
            }

            &.species-14 {
                background: #74854D;
            }

            &.species-15 {
                background: #AB585A;
            }

            &.species-16 {
                background: #7396AA;
            }

            &.species-17 {
                background: #96AFB8;
            }

            &.species-18 {
                background: #455050;

                h2 span {
                    color: lighten($primary-color, 50%);
                }

                .info {
                    color: darken($white, 10%)
                }
            }

            &.species-19 {
                background: #9CADAB;
            }

            &.species-20 {
                background: #5B969D;
            }

            &.species-21 {
                background: #D0B085;
            }

            &.species-22 {
                background: #607929;
            }

            &.species-23 {
                background: #DA8A86;
            }

            &.species-24 {
                background: #4C4D66;

                h2 span {
                    color: lighten($primary-color, 50%);
                }

                .info {
                    color: darken($white, 10%)
                }
            }

            &.species-25 {
                background: #C1721B;
            }

            &.species-26 {
                background: #893A1B;

                h2 span {
                    color: lighten($primary-color, 50%);
                }

                .info {
                    color: darken($white, 10%)
                }
            }

            &.species-27 {
                background: #5D76A0;
            }

            &.species-28 {
                background: #A0A0A0;
            }

            &.species-29 {
                background: #CBC76F;
            }

            &.species-30 {
                background: #BBE87C;
            }

            &.species-31 {
                background: #BB7150;
            }

            &.species-32 {
                background: #9BA0A4;
            }

            &.species-33 {
                background: #3F7D65;
            }

            &.species-34 {
                background: #A49089;
            }

            &.species-35 {
                background: #BD4113;

                h2 span {
                    color: lighten($primary-color, 50%);
                }

                .info {
                    color: darken($white, 10%)
                }
            }

            &.species-36 {
                background: #9B422A;

                h2 span {
                    color: lighten($primary-color, 50%);
                }

                .info {
                    color: darken($white, 10%)
                }
            }

            &.species-37 {
                background: #83321B;
            }


        }
    }
}